.ui-dialog-tips {
  .ui-box {
    background-color: rgba(0, 0, 0, 0.62);
    border: none;
    border-radius: .3rem;
  }

  .ui-box-content {
    color: #fff;
    font-size: rem(28);
    max-width: 10rem;
    text-align: center;
  }
}
