<div class="mod-multistag-select-wrap jMSelect" id="<%=id%>">
    <div class="mod-multistag-select">
		<div class="hd">
			<% if(showCloseBtn){ %>
			<span class="icon-pos-rit tap-highlight jClose"></span>
			<% } %>
            <%=title%>
        </div>
        <div class="bg"></div>
        <div class="bd">
            <div class="bd-left">
                <ul class="jBdLeft">

                </ul>
            </div>
            <div class="bd-right jRightWraps">
            </div>
        </div>
		<div class="_jAreas<%=id%>"></div>
    </div>
</div>
