/* h1 - h6 */
h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
}
h1 {
    font-size:rem(48);
}
h2 {
    font-size:rem(36);
}
h3 {
    font-size:rem(34);
}
h4 {
    font-size:rem(28);
}
h5 {
    font-size:rem(26);
}
h6 {
    font-size:rem(24);
}
